body {
  background-color: #212529; /* Bootstrap's bg-dark color */
  color: #fff; /* Ensure text is visible on dark background */
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
.backdrop-blur-sm {
  will-change: backdrop-filter;
}

.group:hover {
  transform: translateY(-5px) scale(1.05);
  opacity: 1;
}


